
<div class="w3-padding w3-padding-32">
    <div class="container">
        <h1 class="w3-text-teal">
            Contact Us
        </h1>
        <br>
        <div class="row">
            <div class="col-sm-6">
                <spna class="w3-small">
                    Your Name
                </spna>
                <input type="text" class="form-control input-lg" placeholder="Enter Your Name">
            </div>
            <div class="col-sm-6">
                <spna class="w3-small">
                    Your Email
                </spna>
                <input type="text" class="form-control input-lg" placeholder="Enter Your Email">
            </div>
            <div class="col-sm-12 w3-margin-top">
                <br>
                <spna class="w3-small">
                    Your Message
                </spna>
                <textarea rows="5" class="form-control input-lg" placeholder="Enter Your Message"></textarea>
                <br>
                <button class="w3-button w3-indigo w3-padding-large w3-large w3-round ripple">
                    SUBMIT <i class="mdi mdi-send-circle"></i>
                </button>
            </div>
        </div>
    </div>
</div>